.tudo { 
    overflow:hidden;
}
.tudo { 
    width:524px;
    height:600px;
    position:absolute;
    top: 100px;
    left: 500px;
}
.foto { 
    width:133px;
    height:133px;
    position:absolute;
    left:50px;
    top:50px;
    background-image:url(https://proxy-us-west2.goorm.io/service/645d36c6b88f1303c4525121_d6JMiMLSdFSLYg4SjgC.run-us-west2.goorm.io/9080/file/load/jhon.png?path=d29ya3NwYWNlJTJGUHJvamV0b0ZpbmFsMiUyRm1pbmhhQXBwUHJvamV0b0ZpbmFsMiUyRnRlbXBsYXRlcyUyRm1pbmhhQXBwUHJvamV0b0ZpbmFsMiUyRmltZyUyRmpob24ucG5n&docker_id=d6JMiMLSdFSLYg4SjgC&secure_session_id=sHmN__-gS9DcQfLoIFHQK6fGlL7E856j);
    background-repeat:no-repeat;
    background-size:cover;
}
.nome { 
    color:rgba(0, 0, 0, 1);
    width:98px;
    height:23px;
    position:absolute;
    left:200px;
    top:100px;
    font-family:Open Sans;
    text-align:center;
    font-size:20px;
    letter-spacing:0;
}
.email { 
    color:rgba(0, 0, 0, 0.5);
    width:187px;
    height:19px;
    position:absolute;
    left:203px;
    top:125px;
    font-family:Open Sans;
    text-align:center;
    font-size:14px;
    letter-spacing:0;
}
.linha{
     border:1px solid rgba(0, 0, 0, 1);
}

.perfilicon { 
    width:280px;
    height:0px;
    position:absolute;
    left:202px;
    top:225.5px;
}
.meuperfil { 
    color:rgba(0, 0, 0, 1);
    width:87px;
    height:16px;
    position:absolute;
    left:250px;
    top:236px;
    font-family:Open Sans;
    text-align:left;
    font-size:14px;
    letter-spacing:0;
}
.notificacaoicon { 
    width:23.000009536743164px;
    height:23px;
    position:absolute;
    left:203px;
    top:285px;
}
.notificacoes { 
    color:rgba(0, 0, 0, 1);
    width:87px;
    height:16px;
    position:absolute;
    left:252px;
    top:293px;
    font-family:Open Sans;
    text-align:left;
    font-size:14px;
    letter-spacing:0;
}
.historicoicon { 
    width:126px;
    height:23px;
    position:absolute;
    left:203px;
    top:343px;
}
.historico { 
    color:rgba(0, 0, 0, 1);
    width:87px;
    height:16px;
    position:absolute;
    left:250px;
    top:350px;
    font-family:Open Sans;
    text-align:left;
    font-size:14px;
    letter-spacing:0;
}
.ajudaicon { 
    width:126px;
    height:23px;
    position:absolute;
    left:205px;
    top:403px;
}
.ajuda { 
    color:rgba(0, 0, 0, 1);
    width:174px;
    height:16px;
    position:absolute;
    left:252px;
    top:415px;
    font-family:Open Sans;
    text-align:left;
    font-size:14px;
    letter-spacing:0;
}
.sair { 
    color:rgba(31.999998092651367, 168.95997047424316, 246.0000005364418, 1);
    width:32px;
    height:16px;
    position:absolute;
    left:3px;
    top:502px;
    font-family:Open Sans;
    text-align:left;
    font-size:14px;
    letter-spacing:0;
}
.versao { 
    color:rgba(0, 0, 0, 1);
    width:111px;
    height:16px;
    position:absolute;
    left:412px;
    top:503px;
    font-family:Open Sans;
    text-align:left;
    font-size:14px;
    letter-spacing:0;
}
.topo{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;

    color: white;
}
.barrainicial {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0px;
  left: 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgba(216,128,36,1);

  opacity: 1;

  overflow: hidden;
}
.icon{
    top: 50px;
    left: 40px;
    width: 40px;
    height: 40px;

}