{% load static %}
<html>   
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Kurale&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'cadastroeventoexterno.css' %}">
        <title>Gastronomia Qualificada</title>
    </head>
    <body>
        <div class="fundo">
            <div class="v80_1836">
                <p class="topo">CADASTRO DE EVENTO EXTERNO</p>
            </div>
            <!--<form class="form">
                  <p class="fonte">Id Evento Externo</p>
                  <p class="fonte">0001</p><br>
                  <label class="fonte" for="date">Data do Evento Externo </label><br>
                  <input type="date" id="date" name="date"><br><br><br>
                  <label class="fonte" for="hour">Horário do Evento Externo</label><br>
                  <input type="time" id="hour" name="hour"><br><br><br>
                  <label class="fonte" for="road">Rua Onde Ocorreu o Evento Externo</label><br>
                  <input type="text" id="road" name="road"><br><br><br>
                  <label class="fonte" for="number">Número da Rua Onde Ocorreu o Evento Externo</label><br>
                  <input type="number" id="number" name="number"><br><br><br>
                  <label class="fonte" for="neighborhood">Bairro Onde Ocorreu o Evento Externo </label><br>
                  <input type="text" id="neighborhood" name="neighborhood"><br><br><br>
                  <label class="fonte" for="city">Cidade Onde Ocorreu o Evento Externo</label><br>
                  <input type="text" id="city" name="city"><br><br><br>
                  <label class="fonte" for="comments">Comentários Adicionais Sobre o Evento Externo</label><br>
                  <input type="text" id="comments" name="comments"><br><br><br>
                  <button class="enviar" type="submit" value="Enviar">Enviar</button>
             </form>-->
            <form method="POST" class="form" >
                 {% csrf_token %}
                {{formulario.as_p}}
                <input type="submit" value="Salvar"/>
            </form>
        </div>
    </body>
</html>