{% load static %}
<html>   
    <head>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Kurale&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'cadastro.css' %}">
        <title>Gastronomia Qualificada</title>
    </head>
    <body>
        <div class="fundo">
            <div class="v80_1836">
                <p class="topo">CADASTRO DE USUÁRIO</p>
            </div>
            <!--<form method="POST" class="form" >-->
            <form class="form" >
                <!--{% csrf_token %}
                {{formulario.as_p}}
                <input type="submit" value="Salvar"/>-->
                  <p class="fonte">Id Usuário</p>
                  <p class="fonte">0001</p><br>
                  <label class="fonte" for="name">Nome do Usuário </label><br>
                  <input type="text" id="name" name="name"><br><br><br>
                  <label class="fonte" for="tel">Digite seu número de telefone</label><br>
                  <input type="number" id="tel" name="tel"><br><br><br>
                  <label class="fonte" for="email">Qual é o seu email?</label><br>
                  <input type="text" id="email" name="email"><br><br><br>
                  <label class="fonte" for="password">Cadastre a sua senha</label><br>
                  <input type="password" id="password" name="password"><br><br><br>
                  <label class="fonte" for="restaurant">Você é dono de algum restaurante?</label><br>
                  <select name="restaurant" id="restaurant">
                    <option value="null"> </option>
                    <option value="yes">Sim</option>
                    <option value="no">Não</option>
                  </select>
                <br><br><br>
                  <button class="enviar" type="submit" value="Enviar">Enviar</button>
             </form>
        </div>
    </body>
</html>