{% load static %}
<html>  
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Kurale&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'login.css' %}">
        <title>Gastronomia Qualificada</title>
    </head>
    <body>
        <div class="fundo">
            <div class="quadrado">
                <p class="login">LOGIN</p>
                <form class="form">
                  <label class="fonte" for="email">Email:</label>
                  <input type="text" id="email" name="email"><br><br><br>
                  <label class="fonte" for="password">Senha:</label>
                  <input type="password" id="password" name="password"><br><br><br>
                  <button class="enviar" type="submit" value="Enviar">Enviar</button>
                </form>
                <p class="esqueceulogin">Esqueceu seu login?</p>
                <p class="esqueceusenha">Esqueceu sua senha?</p>
                <a href="https://projetofinal-xygva.run-us-west2.goorm.site/minhaAppProjetoFinal2/cadastro/"><p class="cadastre">Não tem conta? CASDASTRE-SE!</p></a>
            </div>
            <span class="nome">Gastronomia Qualificada</span>
            <div class="logo">
            </div>
        </div>
    </body>
</html>