{% load static %}
<html>   
    <head>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Kurale&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'meusrestaurantes.css' %}">
        <title>Gastronomia Qualificada</title>
    </head>
    <body>
        <div class="fundo">
            <div class="v80_1836">
                <p class="topo">MEUS RESTAURANTES</p>
            </div>
            <form class="form">
                  <input class="busca" type="text" id="busca" name="busca" value="Busque o seu restaurante"><br><br><br>
                  <button class="enviar" type="submit" value="Enviar">Buscar</button>
             </form>
            <div class="quadrado">
                <img class="img" src="https://proxy-us-west2.goorm.io/service/645d36c6b88f1303c4525121_d6JMiMLSdFSLYg4SjgC.run-us-west2.goorm.io/9080/file/load/logo-bobs%201.png?path=d29ya3NwYWNlJTJGUHJvamV0b0ZpbmFsMiUyRm1pbmhhQXBwUHJvamV0b0ZpbmFsMiUyRnRlbXBsYXRlcyUyRm1pbmhhQXBwUHJvamV0b0ZpbmFsMiUyRmltZyUyRmxvZ28tYm9icyUyMDEucG5n&docker_id=d6JMiMLSdFSLYg4SjgC&secure_session_id=JIJ6YX44fb-bHUVqN_X40N4bgWEjLxA-">
                <p class="fonte">Bob’s - Barata Ribeiro</p>
                <br>
                <div class="linha">
                </div>
                <p class="fonte">Gerente - Lucca Rocha</p>
                <div class="linha">
                </div>
                <p class="fonte">Saiba Mais</p>
            </div>
            
            <div class="quadrado1">
                <img class="img1" src="https://proxy-us-west2.goorm.io/service/645d36c6b88f1303c4525121_d6JMiMLSdFSLYg4SjgC.run-us-west2.goorm.io/9080/file/load/Logo_Madero%201.png?path=d29ya3NwYWNlJTJGUHJvamV0b0ZpbmFsMiUyRm1pbmhhQXBwUHJvamV0b0ZpbmFsMiUyRnRlbXBsYXRlcyUyRm1pbmhhQXBwUHJvamV0b0ZpbmFsMiUyRmltZyUyRkxvZ29fTWFkZXJvJTIwMS5wbmc=&docker_id=d6JMiMLSdFSLYg4SjgC&secure_session_id=JIJ6YX44fb-bHUVqN_X40N4bgWEjLxA-">
                <p class="fonte">Madero Shopping Leblon</p>
                <br>
                <div class="linha">
                </div>
                <p class="fonte">Gerente - Rodrigo Kauer</p>
                <div class="linha">
                </div>
                <p class="fonte">Saiba Mais</p>
            </div>
            
            <div class="quadrado2">
                <img class="img2" src="https://proxy-us-west2.goorm.io/service/645d36c6b88f1303c4525121_d6JMiMLSdFSLYg4SjgC.run-us-west2.goorm.io/9080/file/load/images%201.png?path=d29ya3NwYWNlJTJGUHJvamV0b0ZpbmFsMiUyRm1pbmhhQXBwUHJvamV0b0ZpbmFsMiUyRnRlbXBsYXRlcyUyRm1pbmhhQXBwUHJvamV0b0ZpbmFsMiUyRmltZyUyRmltYWdlcyUyMDEucG5n&docker_id=d6JMiMLSdFSLYg4SjgC&secure_session_id=JIJ6YX44fb-bHUVqN_X40N4bgWEjLxA-">
                <p class="fonte">T.T. Burguer Barra da Tijuca</p>
                <br>
                <div class="linha">
                </div>
                <p class="fonte">Gerente - Leonardo Trote</p>
                <div class="linha">
                </div>
                <p class="fonte">Saiba Mais</p>
            </div>
            
        </div>
    </body>
</html>