{% load static %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'perfil.css' %}">
    </head>
	<body>
        <div class="barrainicial">
            <p class="topo">PERFIL DE USUÁRIO</p>
        </div>
		<div class=tudo>
            
            <div class="foto">
            </div>   
            
            <span  class="nome">Jhonatan</span>
            <span  class="email">jhonatan99ca@hotmail.com</span>
            
            <div class="perfilicon">
                <img  class="icon" src="https://proxy-us-west2.goorm.io/service/645d36c6b88f1303c4525121_d6JMiMLSdFSLYg4SjgC.run-us-west2.goorm.io/9080/file/load/do-utilizador%201.png?path=d29ya3NwYWNlJTJGUHJvamV0b0ZpbmFsMiUyRm1pbmhhQXBwUHJvamV0b0ZpbmFsMiUyRnRlbXBsYXRlcyUyRm1pbmhhQXBwUHJvamV0b0ZpbmFsMiUyRmltZyUyRmRvLXV0aWxpemFkb3IlMjAxLnBuZw==&docker_id=d6JMiMLSdFSLYg4SjgC&secure_session_id=sHmN__-gS9DcQfLoIFHQK6fGlL7E856j">  
            </div>
            <br><br><br><br><br><br><br><br><br><br><br>
            <div class="linha">
            </div>
            
            <span  class="meuperfil">Meu Perfil</span>
            
            <div class=notificacaoicon>
                <img class="icon" src="https://proxy-us-west2.goorm.io/service/645d36c6b88f1303c4525121_d6JMiMLSdFSLYg4SjgC.run-us-west2.goorm.io/9080/file/load/Group.png?path=d29ya3NwYWNlJTJGUHJvamV0b0ZpbmFsMiUyRm1pbmhhQXBwUHJvamV0b0ZpbmFsMiUyRnRlbXBsYXRlcyUyRm1pbmhhQXBwUHJvamV0b0ZpbmFsMiUyRmltZyUyRkdyb3VwLnBuZw==&docker_id=d6JMiMLSdFSLYg4SjgC&secure_session_id=sHmN__-gS9DcQfLoIFHQK6fGlL7E856j">
            </div>
             <span  class="notificacoes">Notificações</span>
            
            <div class=historicoicon>
                <img class="icon" src="https://proxy-us-west2.goorm.io/service/645d36c6b88f1303c4525121_d6JMiMLSdFSLYg4SjgC.run-us-west2.goorm.io/9080/file/load/Group%20119.png?path=d29ya3NwYWNlJTJGUHJvamV0b0ZpbmFsMiUyRm1pbmhhQXBwUHJvamV0b0ZpbmFsMiUyRnRlbXBsYXRlcyUyRm1pbmhhQXBwUHJvamV0b0ZpbmFsMiUyRmltZyUyRkdyb3VwJTIwMTE5LnBuZw==&docker_id=d6JMiMLSdFSLYg4SjgC&secure_session_id=sHmN__-gS9DcQfLoIFHQK6fGlL7E856j">
            </div>
            <span  class="historico">Histórico</span>
            
            <div class="ajudaicon">
                <img class="icon" src="https://proxy-us-west2.goorm.io/service/645d36c6b88f1303c4525121_d6JMiMLSdFSLYg4SjgC.run-us-west2.goorm.io/9080/file/load/Group%20(1).png?path=d29ya3NwYWNlJTJGUHJvamV0b0ZpbmFsMiUyRm1pbmhhQXBwUHJvamV0b0ZpbmFsMiUyRnRlbXBsYXRlcyUyRm1pbmhhQXBwUHJvamV0b0ZpbmFsMiUyRmltZyUyRkdyb3VwJTIwKDEpLnBuZw==&docker_id=d6JMiMLSdFSLYg4SjgC&secure_session_id=sHmN__-gS9DcQfLoIFHQK6fGlL7E856j">
            </div>
            <span class="ajuda">Ajuda</span>
            
            <span  class="sair">Sair</span>
            <span  class="versao">Versão 17.01.23</span>
            
        </div>
	</body>
<html>