{% load static %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Kurale&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'recomendacao.css' %}">
        <title>Gastronomia Qualificada</title>
    </head>
    <body>
        <!--<nav class="navbar bg-body-tertiary">
          <form class="container-fluid justify-content-start">
            <a href="https://projetofinal-xygva.run-us-west2.goorm.site/minhaAppProjetoFinal2/buscarusuarios"><button class="btn btn-outline-success me-2" type="button">Usuários</button></a>
            <a href="https://projetofinal-xygva.run-us-west2.goorm.site/minhaAppProjetoFinal2/meusrestaurantes/"><button class="btn btn-sm btn-outline-secondary" type="button">Restaurantes</button></a>
            <a href="https://projetofinal-xygva.run-us-west2.goorm.site/minhaAppProjetoFinal2/exibirEventoExterno/"><button class="btn btn-outline-success me-2" type="button">Evento Externo</button></a>
            <a href="https://projetofinal-xygva.run-us-west2.goorm.site/minhaAppProjetoFinal2/exibirRecomendacao/"><button class="btn btn-sm btn-outline-secondary" type="button">Recomendações</button></a>
            <a href="https://projetofinal-xygva.run-us-west2.goorm.site/minhaAppProjetoFinal2/exibirComentario/"><button class="btn btn-sm btn-outline-secondary" type="button">Comentários</button></a>
          </form>
        </nav>-->
        <div class="fundo">
            <div class="v80_1836">
                <p class="topo">CADASTRO DE RECOMENDAÇÃO</p>
            </div>
		<form method="POST" class="form" >
            {% csrf_token %}
            {{formulario.as_p}}
            <input type="submit" value="Salvar"/>
        </form>
        </div>
	</body>
<html>